<div id= "navbar" class="is-fixed-top is-fullwidth">
    {% include 'Menus/Main_menu.twig' %}
    <div id="sub_nav" class="container is-fluid">
        <div id="categories_nav_container" class="container">
            <div id="categories_nav" class= "columns flex_center">
                {% for slug, categorie in Data.MenuData %}
                    <div class=" {% if Data.Menu.submenu %} nav_item_clickable {% endif %} nav_item column flex_center">
                        {% if Data.Menu.submenu %}<p class="has-text-centered">{{ categorie.name }}</p>{% else %}<a class="categorie_link" href="../categorie/{{ slug }}">{{ categorie.name }}</a>{% endif %}
                        {% if Data.Menu.submenu %}
                        <div class= "categories_nav is-hidden columns flex_center">
                            {% for subSlug, subCategorie in categorie.compose %}
                            <a class="nav_item column flex_center" href="{{ Data.config.url }}/categorie/{{ subSlug }}">
                                <div>
                                    <p class="has-text-centered">{% if Data.Menu.highNbMenu %} {{ subCategorie }} {% else %} {{ subCategorie.name }} {% endif %}</p>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% if Data.Menu.submenu %}
    <div id="sub_categories_nav" class="container is-fluid is-hidden">
        <div id="sub_categories_nav_container" class="container sub_categories_nav_container">
        </div>
    </div>
    {% endif %}
</div>