<div id= "navbar" class="is-fixed-top is-fullwidth">
    {% include 'Menus/Main_menu.twig' %}
    <div id= "sub_nav" class="is-flex">
        <div id="categories_nav" class="{% if not Data.Menu.highNbMenu %} is-justify-content-flex-start {% endif %}">
            {% for slug, categorie in Data.MenuData %}
            {% if not Data.Menu.submenu %}<a class=" clickable menu_clickable categorie_link" href="{{ Data.config.url }}/categorie/{{ slug }}">{% endif %}
                <div class="nav_item flex_center clickable menu_clickable  {% if Data.Menu.submenu %} nav_item_clickable {% endif %} {% if not Data.Menu.highNbMenu %} is-flex-grow-0 {% else %} p-0 {% endif %}">
                    <div class="columns">
                        <div class="column is-one-fifth"></div>
                        <div class="column is-three-fifth"><p class="{% if Data.Menu.submenu %}pt-1{% endif %} has-text-centered">{{ categorie.name }}</p></div>
                        <div class="column is-one-fifth has-text-centered">{% if Data.Menu.submenu %}<i class="fas fa-angle-right"></i>{% endif %}</div>
                    </div>
                    {% if Data.Menu.submenu %}
                        <div class= "categories_nav is-hidden columns flex_center is-flex-direction-column">
                            {% for subSlug, subCategorie in categorie.compose %}
                                <a class="nav_item menu_clickable clickable column flex_center" href="{{ Data.config.url }}/categorie/{{ subSlug }}">
                                    <div><p class="has-text-centered">{% if Data.Menu.highNbMenu %} {{ subCategorie }} {% else %} {{ subCategorie.name }} {% endif %}</p></div>
                                </a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                {% if not Data.Menu.submenu %} </a>{% endif %}
            {% endfor %}
        </div>

        {% if Data.Menu.submenu %}
        <div id="sub_categories_nav" class="is-hidden sub_categories_nav_container">
        </div>
        {% endif %}
    </div>
</div>