<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {% if Data.Menu.horizontal %}
      <link rel='stylesheet' href='/stylesheets/Menus/horizontal.css' />
    {% else %}
      <link rel='stylesheet' href='/stylesheets/Menus/vertical.css' />
    {% endif %}
    {% if styles %}  {% for style in styles %}
      <link rel='stylesheet' href='/stylesheets/{{style}}' />
    {% endfor %} {% endif %}
      <script src="/javascripts/javascript.js"></script>
    <script defer src="/javascripts/@fortawesome/fontawesome-free/js/all.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Serif+4&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/javascripts/@fortawesome/fontawesome-free/css/all.css' />
  </head>
  <body>
  {% block Menu %}
    {% if Data.Menu.horizontal %}
      {% include '../Menus/Menu_horizontal.twig' %}
    {% else %}
      {% include '../Menus/Menu_vertical.twig' %}
    {% endif %}
  {% endblock %}
    <div class="content">
      {% block body %}{% endblock %}
    </div>
  {% block Footer %}
  <div id="footer">
    <div id="footer-container" class="container">
      <a href="{{ Data.config.url }}/mention_legal" class="clickable">Mentions légales</a>
      <span><i class="fas fa-solid fa-circle"></i></span>
      <a href="{{ Data.config.url }}/presentation" class="clickable">Qui sommes nous</a>
      <span><i class="fas fa-solid fa-circle"></i></span>
      <a href="{{ Data.config.url }}/contact" class="clickable">Nous contacter</a>
      <span><i class="fas fa-solid fa-circle"></i></span>
      <a href="{{ Data.config.url }}/condition_general" class="clickable">Conditions d'utilisation</a>
    </div>
  </div>
  {% endblock %}
  </body>
</html>
